<form class="row col-6" [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="mb-5">
    <h3>{{ formTitle }}</h3>
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      formControlName="firstName"
    />
    <div
      class="error"
      *ngIf="
        createForm.get('firstName')?.errors &&
        createForm.get('firstName')?.touched
      "
    >
      {{ getValidationErrorMessage("firstName") }}
    </div>
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      formControlName="lastName"
    />
    <div
      class="error"
      *ngIf="
        createForm.get('lastName')?.errors &&
        createForm.get('lastName')?.touched
      "
    >
      {{ getValidationErrorMessage("lastName") }}
    </div>
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title"
    />
    <div
      class="error"
      *ngIf="
        createForm.get('title')?.errors && createForm.get('title')?.touched
      "
    >
      {{ getValidationErrorMessage("title") }}
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      [readonly]="isReadOnly"
      type="text"
      class="form-control"
      id="email"
      formControlName="email"
    />
    <div
      class="error"
      *ngIf="
        createForm.get('email')?.errors && createForm.get('email')?.touched
      "
    >
      {{ getValidationErrorMessage("email") }}
    </div>
  </div>
  <label for="gender">Gender</label>
  <select
    formControlName="gender"
    style="width: 96%; margin-left: 10px"
    name="gender"
    id="gender"
    class="dropdown mb-3 btn btn-outline-secondary dropdown-toggle"
  >
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>

  <div>
    <button class="btn btn-outline-primary m-1" [disabled]="createForm.invalid">
      Submit
    </button>
    <button
      class="btn btn-outline-danger m-1"
      type="button"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
</form>
